@import '../common/variables.scss';

.title-container{
  position: relative;
  margin-bottom: 60px;
  h2{
    font-size: 40px;
    font-weight: 400;
    font-family: $primary-en;
    text-align: center;
  }
  .view-more-link{
    position: absolute;
    font-size: 14px;
    bottom: 0;
    right: 0;
    color: $light-black;
    transition: .3s;
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $light-black;
      bottom: -4px;
      left: 0;
      transition: .3s;
    }
    &:hover{
      color: $dark-black;
      &::after{
        color: $dark-black;
      }
    }
  }
}