@import '../common/variables.scss';

.main-buttons{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  .main-button{
    img{
      width: 128px;
      height: 128px;
      border-radius: 50%;
    }
    p{
      margin-top: 16px;
      color: $silver-black;
      text-align: center;
    }
  }
}