@import '../common/variables.scss';
.mds-pick{
  height: fit-content;
  margin-top: 180px;
  .tab-menu{
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    div{
      position: relative;
      color: $light-black;
      font-weight: 400;
      &::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 60%;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $light-black;
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
      &.active{
        color: $gold;
        text-decoration: underline;
      }
    }
  }
  .tab-item-list{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
  .no-products{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    font-size: 20px;
  }
}