@import '../common/variables.scss';

.brand-story{
  @at-root .sub-visual{
    width: 100%;
    height: 960px;
    background: url('../../../public/images/bn_brand_intro.jpg') center fixed no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    h2{
      font-family: $primary-en;
      font-size: 80px;
      font-weight: 400;
      letter-spacing: -1.6px;
    }
    p{
      position: absolute;
      bottom: 80px;
      left: 50%;
      font-size: 20px;
      transform: translateX(-50%);
    }
  }
  .brand-story-inner{
    .mission{
      margin-top: 180px;
      display: flex;
      justify-content: space-between;
      .text-area{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
          font-family: $primary-en;
          font-family: "Bona Nova", sans-serif;
          font-size: 56px;
          font-weight: 400;
          letter-spacing: -1.12px;
          line-height: 1.5;
        }
        p{
          font-size: 18px;
          line-height: 1.5;
        }
      }
      .img-area{}
    }
    .promise{
      margin-top: 180px;
      padding: 120px 0 140px;
      background-color: $silver-gray;
      .promise-imgs{
        display: flex;
        justify-content: space-between;
        img{
          object-fit: cover;
        }
      }
    }
    .youtube{
      margin: 180px auto;
    }
  }
}