@import '../common/variables.scss';

.experience-stores{
  margin: 130px 0;
  .experience-stores-inner{
    .stores-wrap{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      .store{
        .store-img{
          img{
            width: 100%;
          }
        }
        .store-info{
          margin-top: 14px;
          h3{
            font-size: 16px;
            font-weight: 500;
          }
          h5{
            font-size: 14px;
            font-weight: 400;
            color: #8E8E8E;
          }
        }
      }
      @at-root .search-wrap{
        display: flex;
        justify-content: right;
        select{
          background: #fff url('../../../public/images/btn_select_arr.png') no-repeat calc(100% - 15px) center / 14px auto;
          border-color: $dim-gray;
          margin: 0 8px 0 0;
          padding: 0 61px 0 15px;
          height: 36px;
          font-size: 14px;
          font-weight: 500;
          color: $dark-black;
          appearance: none;
        }
        input[type=text]{
          width: 230px;
          height: 36px;
          margin: 0 8px 0 0;
          padding: 11px 12px;
          border-color: $dim-gray;
          box-sizing: border-box;
          font-size: 14px;
          color: $dark-black;
          &:focus{
            outline: none;
          }
        }
        button{
          width: 80px;
          height: 36px;
          padding: 0;
          box-sizing: border-box;
          background-color: $dark-black;
          border-color: $dark-black;
          border-radius: 0;
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          line-height: 36px;
        }
      }
    }
  }
}