$primary-kr: 'Pretendard', sans-serif;
$primary-en: 'Bona Nova', sans-serif;

/* Text color */
$dark-black: #1D1D1D; // 문서 본문 전체 텍스트 색상
$dim-black: #717171;
$silver-black: #8E8E8E;
$light-black: #C6C6C6;
$gray: #555555;
$dim-gray: #E4E4E4;
$silver-gray: #F0F0F0; 
$cloudy-gray: #FAFAFA;
$gold:#D8B961;
$light-yellow: #F4F1EA;
